.container
{
    border: 3px solid black;
    height: 500px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: 6;
    background-color: brown;
    gap: 25px;
}
.box
{
    border: 3px solid black;
    background-color: yellow;
    /* height: 50px; */
    /* width: 50px; */
}
#box1
{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;

}
#box4
{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 6;

}
#box2
{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 6;

}
#box3
{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 6;

}

